Repository AlaudaDevops/gomplate, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies

chore: update renovate config
  renovate.json
Labels: none

fix: upgrade go version
  .github/workflows/alauda-auto-tag.yaml
  .github/workflows/reusable-release-alauda.yaml
  go.mod
  goreleaser-alauda.yml
Labels: dependencies

chore: update go version to 1.25.3
  go.mod
Labels: dependencies

deps(go): update golang.org/x dependencies to latest versions
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: dependencies

deps(go): update golang.org/x dependencies to latest versions
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: dependencies

chore: bump go version to 1.25.4
  go.mod
Labels: dependencies

chore: change assignee from yuzichen12123 to nanjingfm
  renovate.json
Labels: none

chore(go): update Go version to 1.26.1
  go.mod
Labels: dependencies

chore(deps): update indirect dependencies for go-git and go-jose modules
  go.mod
  go.sum
Labels: dependencies

fix(vuln): update Go 1.26.1 → 1.26.2 to fix stdlib CVEs
  go.mod
Labels: dependencies

fix(vuln): update Go 1.26.1 → 1.26.2 to fix stdlib CVEs (#23)
  go.mod
Labels: dependencies

chore(deps): bump go-git/go-git/v5 v5.17.1 → v5.18.0 (fix GHSA-3xc5-wrhm-f963)
  go.mod
  go.sum
Labels: dependencies

chore(deps): bump go-git/go-git/v5 v5.17.1 → v5.18.0 (fix GHSA-3xc5-wrhm-f963) (#24)
  go.mod
  go.sum
Labels: dependencies

fix(vuln): update Go and fix CVE vulnerabilities
  docs/go.mod
Labels: documentation

fix(vuln): update Go and fix CVE vulnerabilities (#25)
  docs/go.mod
Labels: documentation

docs(catalog): register to alauda-devops-internal system
  .catalog/catalog-info.yaml
Labels: none

fix(vuln): update x/net v0.53.0 and transitive deps
  go.mod
  go.sum
Labels: dependencies

fix(vuln): update x/net v0.53.0 and transitive deps (#26)
  go.mod
  go.sum
Labels: dependencies

fix(vuln): update Go to 1.26.3 to fix CVE vulnerabilities
  docs/go.mod
  go.mod
Labels: documentation, dependencies

fix(vuln): update Go to 1.26.3 to fix CVE vulnerabilities (#27)
  docs/go.mod
  go.mod
Labels: documentation, dependencies

fix(deps): bump go to 1.26.4 and go-git to v5.19.1 [security]
  go.mod
  go.sum
Labels: dependencies

fix(vuln): bump go to 1.26.4 and go-git/v5 to 5.19.1
  go.mod
  go.sum
Labels: dependencies

fix(vuln): bump go to 1.26.4 and go-git/v5 to 5.19.1 (#33)
  go.mod
  go.sum
Labels: dependencies

bump: comprehensive Go dep security-fix for alauda-35
  go.mod
  go.sum
Labels: dependencies

bump: go directive 1.26.4 -> 1.27.1 (fixes stdlib CVE-2026-33818 etc)
  go.mod
Labels: dependencies

ci: bump aquasecurity/setup-trivy v0.2.3 -> v0.3.1
  .github/workflows/image-scan.yml
Labels: none

bump: comprehensive Go deps + go 1.27.1 for v4.3.4-alauda-35 (#42)
  .github/workflows/image-scan.yml
  go.mod
  go.sum
Labels: dependencies

bump: crypto v0.55.0 -> v0.56.0 and go-git v5.19.1 -> v5.19.2
  go.mod
  go.sum
Labels: dependencies

bump: crypto v0.55.0 -> v0.56.0 and go-git v5.19.1 -> v5.19.2 (#43)
  go.mod
  go.sum
Labels: dependencies

chore(deps): update go.opentelemetry.io/otel to v1.45.0 [security]
  go.mod
  go.sum
Labels: dependencies

chore(deps): update go.opentelemetry.io/otel to v1.45.0 [security] (#46)
  go.mod
  go.sum
Labels: dependencies

.github/labeler.yml:

documentation:
- docs/**/*
- docs-src/**/*

dependencies:
- Gopkg.lock
- Gopkg.toml
- go.mod
- go.sum
- vendor/**/*
